#app-menu {
	width: 17.5rem;
	height: 100%;
	background-color: rgba(144,91,33,.95);
	position: absolute;
	top: 0;
	opacity: 0;
	padding: 0 1rem;
}

#app-menu .btn-close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-color: transparent;
	padding: 0;
}

#app-menu .app-menu-nav {
	margin-top: 15rem;
}

#app-menu .app-menu-nav .app-menu-nav-item {
	margin-bottom: 1rem;
}

#app-menu .users-message{
} 

#app-menu .total-users-amount{
	display: inline-block;
	font-size: 1.25rem;
	margin: 0 0 0 .2rem;
}
