#app-menu {
	width: 17.5rem;
	height: 100%;
	background-color: rgba(144,91,33,.95);
	position: absolute;
	top: 0;
	opacity: 0;
	padding: 0 1rem;
}

#app-menu .btn-close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-color: transparent;
	padding: 0;
}

#app-menu .app-menu-nav {
	margin-top: 15rem;
}