.checkbox {
	  width: 1.2rem;
	  height: 1.2rem;
	  border: solid .3rem #ffffff;
	cursor: pointer;
	float: left;
}

.checkbox.disabled {
	background-color: rgba(255,255,255,1);
}

.checkbox.enabled {
	background-color: #905b21;
}