.checkbox {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	float: left;
}

.checkbox.disabled {
	background-color: rgba(255,255,255,1);
}

.checkbox.enabled {
	background-color: rgba(100,50,121,1);
}